:root {
    --laranja-principal: #FF9F0A;
    --preto: #0000;
    --cinza-escuro: #2A2A2C;
    --cinza-claro: #5C5C5F;
    --branco: #ffffff;
}

body {
    height: 100vh;
    box-sizing: border-box;
}